// styl
.about-page {
  border: solid 1px #CCC
  background: rgba(255,0,0,0.2)
}

// Page is loadding also check out body.uninitialized .about-page
#__PELLET__.loading_and_uninitialized .about-page {
  //visibility hidden
}
