// styl
.message-component {
  border: solid 1px #CCC
  background: rgba(255,0,0,0.2)
}

// Page is loadding also check out body.uninitialized .message-component
#__PELLET__.loading_and_uninitialized .message-component {
  //visibility hidden
}
